$sColor: #00cff7;
$aSize: 3em;
$aPercent: 5%;

#generated:before {
  content: "\f0c0"; 
  font-family: FontAwesome;
  position: absolute;
  font-size: 30vw;
  color: darken($sColor, 38%);
  display: flex;
  justify-content: center;
  z-index: -1;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: white;
}

html, body {
	height: 100%;
}

aside {
	background-color: darken($sColor, 50%);
	padding: 0.5em;
}

button {
	&:hover {
		box-shadow: 0 0 0.5em $sColor;
		background-color: darken($sColor, 25%);
		transition: box-shadow 0.2s, background-color 0.2s;
	}
	&:active {
		box-shadow: 0 0 0.5em $sColor;
		background-color: $sColor;
		transition: background-color 0.2s;
	}
	&:focus {
		outline: 0;
	}
	transition: box-shadow 0.2s ease-in-out, background-color 0.2s;
	box-shadow: 0;
	padding: 10px;
	margin: 10px;
	border: 0;
	border-radius: 2em;
	background-color: darken($sColor, 30%);
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

content {
	background-color: darken($sColor, 40%);
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 0.2em solid lighten($sColor, 10%);
}

header {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font: bold 2.5em 'Amatic SC', cursive;
	}
	#author {
		display: flex;
		align-items: center;
		font-size: 0.7em;
		color: darken($sColor, 10%);
		a {
			text-decoration: none;
			margin: 0 0.2em;
			color: inherit;
			&:hover {
				color: lighten($sColor, 30%);
			}
		}
	}
	#desc {
		width: 20em;
		font-size: 0.7em;
		text-align: justify;
		color: #999;
		margin-top: 0.5em;
	}
}

input[type=checkbox] {
	display: none;
		&:checked + label {
		color: $sColor;
	}
}

label {
	@extend .clickable;
	&:hover {
		color: lighten($sColor, 30%);
	}
}

textarea, select, select option {
	color: #000;
}

.c-feature {
	display: flex;
	justify-content: flex-end;
}

.clickable {
	cursor: pointer;
}

.col-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	display: flex;
	justify-content: center;
	font-weight: bolder;
	margin: 0.5em;
	i {
		margin: 0 0.5em 0 0;
	}
}

@for $i from 1 through 4{
	#alias#{$i} {
		color: lighten(darken($sColor, $aPercent), 50%);
		font-size: $aSize - 0.5em;
		$aSize: $aSize - 0.5;
		$aPercent: $aPercent + 10%;
	}
}

#content-wrapper {
	display: flex;
	flex-direction: row;
	min-height: 100%;
}

#count {
	margin-bottom: 1em;
}

#custom {
	margin: 1em 0;
}

#gendefault {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#generated {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#genreddit {
	border-radius: 2em;
	padding: 2em;
	align-items: center;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	& * { 
		color: #000;
	}
	div {
		width: 310px;
		height: 115px;
		background: #d4e6f9;
		border-top-left-radius: 0.3em;
		border-top-right-radius: 0.3em;
	}
	img {
		margin: auto;
		height: auto;
		width: 90px;
		border: 0.3em solid #fff;
		border-radius: 0.7em;
		margin: -45px 0 0 0;
	}
	p {
		margin: 0.3em;
		&:not(#user) {
			font-size: 0.8em;
		}
	}
	.fa-info-circle {
		margin-left: 0.5em;
		color: #aaa;
	}
	#user {
		font-weight: 900;		
	}
}

#gentwitter {
	background: #e6ecf0;
	padding: 2em;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	* {
		color: #000;
	}
	img {
		width: 12em;
		height: auto;
		border: 0.4em solid #fff;
		border-radius: 100%;
		margin: auto;
	}
	#tname {
		font-size: 1.3em;
		font-weight: 900;
	}
	.fa-check-circle {
		color: #1da1f2;
	}
}

.gencontent:not(#gendefault) {
	display: none;
}

#selections {
	display: flex;
	flex-direction: column;
}

#hub {
	z-index: 10;
	position: relative;
	p {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1em;
		height: 1em;
		border: 0.2em solid #000;
		border-radius: 100%;
		background: #000;
		position: absolute;
		bottom: 0.5em;
		right: 0.5em;
		font-size: 2.5em;
	}
}

#tbar {
	display: flex;
	justify-content: space-around;
	background: darken($sColor, 40%);
	background: linear-gradient(darken($sColor, 30%), darken($sColor, 40%));
	padding-bottom: 1.5em;
	height: 2.5em;
	p {
		&:hover {
			transition: padding-top 0.2s;
			padding-top: 1em;
		}
		@extend .clickable;
		text-align: center;
		width: 8em;
		color: #000;
		font-weight: bold;
		background-color: lighten($sColor, 10%);
		padding: 0.5em 0 0.8em 0;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		transition: padding 0.2s;
	}
}