$sColor: #00cff7;
$aSize: 3em;
$aPercent: 5%;

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: white;
}

@for $i from 1 through 4{
	#alias#{$i} {
		color: lighten($sColor, $aPercent);
		font-size: $aSize - 0.5em;
		$aSize: $aSize - 0.5;
		$aPercent: $aPercent + 13%;
	}
}

aside {
	background-color: darken($sColor, 50%);
}

html {
	height: 100%;
}

body {
	background-color: darken($sColor, 40%);
	height: 100%;
}

header h1 {
	display: flex;
	justify-content: center;
	font: bold 2em 'Dancing Script', cursive;
	margin: 20px;
}

#content-wrapper {
	display: flex;
	flex-direction: row;
	height: 100%;
}

#selections {
	display: flex;
	flex-direction: column;
}

#generated {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#options {
	display: flex;
	justify-content: center;
	margin: 10px auto;
}

button {
	padding: 10px;
	margin: 10px;
	border: 0;
	border-radius: 2em;
	background-color: $sColor;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.col-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}