#generated:before {
  content: "\f0c0";
  font-family: FontAwesome;
  position: absolute;
  font-size: 30vw;
  color: #002d35;
  display: flex;
  justify-content: center;
  z-index: -1; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white; }

html {
  height: 100%; }

body {
  height: 100%;
  box-sizing: border-box;
  background-color: #00242b;
  border-top: 0.2em solid #2bddff;
  border-bottom: 0.2em solid #2bddff; }

aside {
  background-color: black;
  padding: 0.5em;
  border-right: 0.2em solid #004f5e; }

button {
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s;
  box-shadow: 0;
  padding: 10px;
  margin: 10px;
  border: 0;
  border-radius: 2em;
  background-color: #004f5e;
  font-size: 16px;
  font-weight: bold;
  color: #fff; }
  button:hover {
    box-shadow: 0 0 0.5em #00cff7;
    background-color: #006478;
    transition: box-shadow 0.2s, background-color 0.2s; }
  button:active {
    box-shadow: 0 0 0.5em #00cff7;
    background-color: #00cff7;
    transition: background-color 0.2s; }
  button:focus {
    outline: 0; }

content {
  width: 100%;
  display: flex;
  flex-direction: column; }

header {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  header h1 {
    font: bold 2.5em 'Amatic SC', cursive; }
  header #author {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    color: #00a4c4; }
    header #author a {
      text-decoration: none;
      margin: 0 0.2em;
      color: inherit; }
      header #author a:hover {
        color: #91edff; }
  header #desc {
    width: 20em;
    font-size: 0.7em;
    text-align: justify;
    color: #999;
    margin-top: 0.5em; }

input[type=checkbox] {
  display: none; }
  input[type=checkbox]:checked + label {
    color: #00cff7; }

label:hover {
  color: #91edff; }

textarea, select, select option {
  color: #000; }

.c-feature {
  display: flex;
  justify-content: flex-end; }

.clickable, label, #tbar p {
  cursor: pointer; }

.col-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.title {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin: 0.5em; }
  .title i {
    margin: 0 0.5em 0 0; }

#alias1 {
  color: #defaff;
  font-size: 2.5em; }

#alias2 {
  color: #abf1ff;
  font-size: 2em; }

#alias3 {
  color: #78e9ff;
  font-size: 1.5em; }

#alias4 {
  color: #45e1ff;
  font-size: 1em; }

#content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%; }

#count {
  margin-bottom: 1em; }

#custom {
  margin: 1em 0; }

#gendefault {
  display: flex;
  align-items: center;
  flex-direction: column; }

#generated {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

#genreddit {
  border-radius: 2em;
  padding: 2em;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #genreddit * {
    color: #000; }
  #genreddit div {
    width: 310px;
    height: 115px;
    background: #d4e6f9;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em; }
  #genreddit img {
    margin: auto;
    height: auto;
    width: 90px;
    border: 0.3em solid #fff;
    border-radius: 0.7em;
    margin: -45px 0 0 0; }
  #genreddit p {
    margin: 0.3em; }
    #genreddit p:not(#user) {
      font-size: 0.8em; }
  #genreddit .fa-info-circle {
    margin-left: 0.5em;
    color: #aaa; }
  #genreddit #user {
    font-weight: 900; }

#gentwitter {
  background: #e6ecf0;
  padding: 2em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #gentwitter * {
    color: #000; }
  #gentwitter img {
    width: 12em;
    height: auto;
    border: 0.4em solid #fff;
    border-radius: 100%;
    margin: auto; }
  #gentwitter #tname {
    font-size: 1.3em;
    font-weight: 900; }
  #gentwitter .fa-check-circle {
    color: #1da1f2; }

.gencontent:not(#gendefault) {
  display: none; }

#selections {
  display: flex;
  flex-direction: column; }

#hub p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  border: 0.2em solid #000;
  border-radius: 100%;
  background: #000;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 2.5em; }

#tbar {
  display: flex;
  justify-content: space-around;
  background: #00242b;
  background: linear-gradient(#004f5e, #00242b);
  padding-bottom: 1.5em;
  height: 2.5em; }
  #tbar p {
    text-align: center;
    width: 8em;
    color: #000;
    font-weight: bold;
    background-color: #2bddff;
    padding: 0.5em 0 0.8em 0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: padding 0.2s; }
    #tbar p:hover {
      transition: padding-top 0.2s;
      padding-top: 1em; }

/*# sourceMappingURL=style.css.map */
