$sColor: #00cff7;
$aSize: 3em;
$aPercent: 5%;

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: white;
}

html {
	height: 100%;
}

body {
	box-sizing: border-box;
	background-color: darken($sColor, 40%);
	height: 100%;
	border-top: 0.2em solid lighten($sColor, 10%);
	border-bottom: 0.2em solid lighten($sColor, 10%);
}

aside {
	background-color: darken($sColor, 50%);
	padding: 0.5em;
}

button {
	padding: 10px;
	margin: 10px;
	border: 0;
	border-radius: 2em;
	background-color: $sColor;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

content {
	width: 100%;
	display: flex;
	flex-direction: column;
}

header {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font: bold 2.3em 'Dancing Script', cursive;
	}
	p {
		display: flex;
		align-items: center;
		font-size: 0.8em;
	}
}

input[type=checkbox] {
	display: none;
		&:checked + label {
		color: $sColor;
	}
}

label:hover {
	color: lighten($sColor, 30%);
}

textarea, select, select option {
	color: #000;
}

.c-feature {
	display: flex;
	justify-content: flex-end;
}

.clickable {
	cursor: pointer;
}

.col-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	display: flex;
	justify-content: center;
	font-weight: bolder;
	margin: 0.5em;
	i {
		margin: 0 0.5em 0 0;
	}
}

@for $i from 1 through 4{
	#alias#{$i} {
		color: lighten(darken($sColor, $aPercent), 50%);
		font-size: $aSize - 0.5em;
		$aSize: $aSize - 0.5;
		$aPercent: $aPercent + 10%;
	}
}

#content-wrapper {
	display: flex;
	flex-direction: row;
	height: 100%;
}

#count {
	margin-bottom: 1em;
}

#custom {
	margin: 1em 0;
}

#hub {
	width: 100%;
	height: auto;
	font-size: 0.8em;
	background-color: darken($sColor, 50%);
	display: flex;
	justify-content: center;
	p {
		display: flex;
		align-items: center;
		i {
			margin-left: 0.5em;
		}
	}
}

#generated {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#selections {
	display: flex;
	flex-direction: column;
}

#tbar {
	display: flex;
	justify-content: space-around;
	background: darken($sColor, 40%);
	background: linear-gradient(darken($sColor, 20%), darken($sColor, 40%));
	padding-bottom: 1.5em;
	p {
		text-align: center;
		width: 8em;
		color: #000;
		font-weight: bold;
		background-color: lighten($sColor, 10%);
		padding: 0.5em 0 0.8em 0;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
	}
}