.features
  background: rgba(#000, .75)
  border: .125rem solid rgba(black, .25)
  border-radius: .5rem
  box-sizing: border-box
  max-height: 100%
  margin: 2rem 0
  padding: 1rem
  transition: 1s all ease-in
  width: 100%

.features__header
  color: #fff
  font-size: 1.5rem
  font-weight: 700
  text-align: center
  p
    margin: 0 0 1rem

.features__body
  color: #aaa

.features--hidden
  max-height: 0
  opacity: 0

.features--flex
  display: grid
  grid-template: 100% / 1fr 1fr 1fr

.features__wrapper
  width: 100%