.features
  background: rgba(#000, .75)
  border: .125rem solid rgba(black, .25)
  border-radius: .5rem
  box-sizing: border-box
  margin: 2rem 0
  padding: 1rem
  width: 100%
  +md
    max-height: 100%
    transition: 1s all ease-in

.features__header
  color: #fff
  font-size: 1.5rem
  font-weight: 700
  text-align: center
  p
    margin: 1rem
    +md
      margin: 0 0 1rem

.features__body
  color: #aaa

.features--hidden
  max-height: 0
  opacity: 0
  pointer-events: none

.features--grid
  display: grid
  grid-display: 1fr 1fr 1fr / 100%
  +md
    grid-template: 100% / 1fr 1fr 1fr


.features__wrapper
  width: 100%