@keyframes rotation
  0%
    transform: scaleX(1)
  25%
    transform: scaleX(0)
  50%
    transform: scaleX(-1)
  75%
    transform: scaleX(0)
  100%
    transform: scaleX(1)

.footer
  position: absolute
  bottom: 0
  text-align: center
  width: 100%
.fa-github
  color: #000
  //animation: rotation 10s infinite

.copy
  font-size: .8rem