.title--common
  color: #222
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif
  text-align: center
  text-align: center

.title
  margin: 0
  font-size: 3.5rem
  transition: color 3s linear

.subtitle
  opacity: .6
  font-size: 1rem
  margin-left: 15rem
  margin-top: -.5rem