@keyframes slide {
  100% {
    left: 0; } }

* {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

aside {
  background-color: black;
  padding: .5em; }

content {
  background-color: #00242b;
  border: 0.2em solid #2bddff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto; }
  header h1 {
    font: bold 2.5em 'Amatic SC', cursive; }
  header .author {
    align-items: center;
    color: #00a4c4;
    display: flex;
    font-size: .7em; }
    header .author a {
      color: inherit;
      margin: 0 .2em;
      text-decoration: none; }
      header .author a:hover {
        color: #91edff; }
  header .desc {
    color: #999;
    font-size: .7em;
    margin-top: .5em;
    text-align: justify;
    width: 20em; }

input[type='checkbox'] {
  display: none; }
  input[type='checkbox']:checked + label {
    color: #00cff7; }
  input[type='checkbox']:disabled + label {
    color: #555; }

label {
  transition: color .3s; }
  label:hover {
    color: #91edff; }

textarea,
select,
select option {
  color: #000; }

.cat {
  animation: slide .3s forwards;
  left: -100px;
  position: relative; }

.clickable, label, .tbar p {
  cursor: pointer; }

.fa-toggle-off {
  color: #555; }

.fa-toggle-on {
  color: #00cff7; }

.gencontent:not(.gendefault) {
  display: none; }

.title {
  display: flex;
  font-weight: bolder;
  justify-content: center;
  margin: .5em; }
  .title i {
    margin: 0 .5em 0 0; }

.alias1 {
  color: #defaff;
  font-size: 2.5em; }

.alias2 {
  color: #abf1ff;
  font-size: 2em; }

.alias3 {
  color: #78e9ff;
  font-size: 1.5em; }

.alias4 {
  color: #45e1ff;
  font-size: 1em; }

.content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100%; }

.count {
  margin-bottom: 1em; }

.custom {
  margin: 1em 0; }

.gendefault {
  align-items: center;
  display: flex;
  flex-direction: column; }

.generated {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 1; }
  .generated::before {
    color: #002d35;
    content: '\f0c0';
    display: flex;
    font-family: FontAwesome;
    font-size: 30vw;
    justify-content: center;
    position: absolute;
    z-index: -1; }

.genreddit {
  align-items: center;
  background-color: #fff;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em; }
  .genreddit * {
    color: #000; }
  .genreddit div {
    background: #d4e6f9;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    height: 115px;
    width: 310px; }
  .genreddit img {
    border: 0.3em solid #fff;
    border-radius: .7em;
    height: auto;
    margin: -45px 0 0;
    width: 90px; }
  .genreddit p {
    margin: .3em; }
    .genreddit p:not(.user) {
      font-size: .8em; }
  .genreddit .fa-info-circle {
    color: #aaa;
    margin-left: .5em; }
  .genreddit .user {
    font-weight: 900; }

.gentwitter {
  background: #e6ecf0;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em; }
  .gentwitter a {
    color: #1da1f2;
    text-decoration: none; }
  .gentwitter * {
    color: #777; }
  .gentwitter .black {
    color: #000; }
  .gentwitter p {
    font-size: .9em; }
  .gentwitter .spacer > * {
    margin: .5em 0; }
  .gentwitter img {
    border: 0.4em solid #fff;
    border-radius: 100%;
    height: auto;
    margin: auto;
    width: 12em; }
  .gentwitter .tname {
    font-size: 1.3em;
    font-weight: 900; }
  .gentwitter .fa-check-circle {
    color: #1da1f2; }

.go {
  background-color: #004f5e;
  border: 0;
  border-radius: 2em;
  box-shadow: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 1em 0;
  padding: 1em;
  transition: box-shadow .2s ease-in-out, background-color .2s;
  width: 100%; }
  .go:hover {
    background-color: #006478;
    box-shadow: 0 0 0.5em #00cff7;
    transition: box-shadow .2s, background-color .2s; }
  .go:active {
    background-color: #00cff7;
    box-shadow: 0 0 0.5em #00cff7;
    transition: background-color .2s; }
  .go:focus {
    outline: 0; }

.hub {
  position: relative;
  z-index: 10; }
  .hub p {
    align-items: center;
    background: #000;
    border: 0.2em solid #000;
    border-radius: 100%;
    bottom: .5em;
    display: flex;
    font-size: 2.5em;
    height: 1em;
    justify-content: center;
    position: absolute;
    right: .5em;
    width: 1em; }

.selections {
  display: flex;
  flex-direction: column; }

.tbar {
  background: linear-gradient(#004f5e, #00242b);
  display: flex;
  height: 2.5em;
  justify-content: space-around;
  padding-bottom: 1.5em; }
  .tbar p {
    background-color: #2bddff;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    color: #000;
    font-weight: bold;
    padding: .5em 0 .8em;
    text-align: center;
    transition: padding .2s;
    width: 8em; }
    .tbar p:hover {
      padding-top: 1em;
      transition: padding-top .2s; }
